@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Manrope", "Segoe UI", sans-serif;
  --color-light-20: #FAF9F5;
  --color-light-50: #F3F0E7;

  --color-dark-10: #CFCBB9;
  --color-dark-20: #B8B4A5;
  --color-dark-90: #171715;

}

:root {
  font-family: var(--font-sans);
}

body {
  font-family: var(--font-sans);
}
